In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv("D:\\New_own_projects\\diabetes_prediction_dataset.csv")

In [4]:
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [6]:
df.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [ ]:
#Target is to predict the the diabetes

In [62]:
df1=df.copy()

In [63]:
df1.shape

(100000, 9)

In [64]:
df1.drop_duplicates(inplace = True)

In [65]:
df1

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99994,Female,36.0,0,0,No Info,24.60,4.8,145,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [66]:
df1.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [67]:
#Feature Engineering

In [68]:
encoder = LabelEncoder()

In [69]:
df1['gender_encoded'] = encoder.fit_transform(df1[['gender']])

C:\Users\HP USER\AppData\Roaming\Python\Python312\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [70]:
df1

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_encoded
0,Female,80.0,0,1,never,25.19,6.6,140,0,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0,0
2,Male,28.0,0,0,never,27.32,5.7,158,0,1
3,Female,36.0,0,0,current,23.45,5.0,155,0,0
4,Male,76.0,1,1,current,20.14,4.8,155,0,1
...,...,...,...,...,...,...,...,...,...,...
99994,Female,36.0,0,0,No Info,24.60,4.8,145,0,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0,1
99998,Female,24.0,0,0,never,35.42,4.0,100,0,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0,0

In [71]:
df1[['gender_encoded']].value_counts()

gender_encoded
0                 56161
1                 39967
2                    18
Name: count, dtype: int64

In [72]:
df1['smoking_history'].unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [73]:
from sklearn.preprocessing import OrdinalEncoder

In [74]:
ordinal_encoded = OrdinalEncoder()

In [75]:
df1['smoking_history_encoded'] = ordinal_encoded.fit_transform(df1[['smoking_history']])

In [76]:
df1

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_encoded,smoking_history_encoded
0,Female,80.0,0,1,never,25.19,6.6,140,0,0,4.0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0,0,0.0
2,Male,28.0,0,0,never,27.32,5.7,158,0,1,4.0
3,Female,36.0,0,0,current,23.45,5.0,155,0,0,1.0
4,Male,76.0,1,1,current,20.14,4.8,155,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...
99994,Female,36.0,0,0,No Info,24.60,4.8,145,0,0,0.0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0,0,0.0
99997,Male,66.0,0,0,former,27.83,5.7,155,0,1,3.0
99998,Female,24.0,0,0,never,35.42,4.0,100,0,0,4.0
99999,Female,57.0,0,0,current,22.43,6.6,90,0,0,1.0

In [77]:
df1['smoking_history_encoded'].unique()

array([4., 0., 1., 3., 2., 5.])

In [78]:
#Now X and Y fixing, X- target_dependant, Y- independant

In [99]:
x=df1.drop('diabetes', axis =1)
y=df1.diabetes

In [100]:
x

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,gender_encoded,smoking_history_encoded
0,Female,80.0,0,1,never,25.19,6.6,140,0,4.0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0,0.0
2,Male,28.0,0,0,never,27.32,5.7,158,1,4.0
3,Female,36.0,0,0,current,23.45,5.0,155,0,1.0
4,Male,76.0,1,1,current,20.14,4.8,155,1,1.0
...,...,...,...,...,...,...,...,...,...,...
99994,Female,36.0,0,0,No Info,24.60,4.8,145,0,0.0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0,0.0
99997,Male,66.0,0,0,former,27.83,5.7,155,1,3.0
99998,Female,24.0,0,0,never,35.42,4.0,100,0,4.0
99999,Female,57.0,0,0,current,22.43,6.6,90,0,1.0

In [101]:
y

0        0
1        0
2        0
3        0
4        0
        ..
99994    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 96146, dtype: int64

In [102]:
x.shape

(96146, 10)

In [103]:
y.shape

(96146,)

In [104]:
x=x.drop(columns=['gender','smoking_history'], axis =1)

In [125]:
x

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,gender_encoded,smoking_history_encoded
0,80.0,0,1,25.19,6.6,140,0,4.0
1,54.0,0,0,27.32,6.6,80,0,0.0
2,28.0,0,0,27.32,5.7,158,1,4.0
3,36.0,0,0,23.45,5.0,155,0,1.0
4,76.0,1,1,20.14,4.8,155,1,1.0
...,...,...,...,...,...,...,...,...
99994,36.0,0,0,24.60,4.8,145,0,0.0
99996,2.0,0,0,17.37,6.5,100,0,0.0
99997,66.0,0,0,27.83,5.7,155,1,3.0
99998,24.0,0,0,35.42,4.0,100,0,4.0
99999,57.0,0,0,22.43,6.6,90,0,1.0

In [105]:
#Train and splitting data

In [106]:
x_test, x_train, y_test, y_train = train_test_split(x,y,test_size = 0.2)

In [107]:
x_test.shape, x_train.shape, y_test.shape, y_train.shape

((76916, 8), (19230, 8), (76916,), (19230,))

In [108]:
#Classifier Algorithms

In [109]:
#Decision Tree Classifier
#RandomForest Classifier
#GradientBoost Classifier

In [117]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score

In [118]:
model_D = DecisionTreeClassifier().fit(x_train, y_train)
model_G = GradientBoostingClassifier().fit(x_train, y_train)
model_R = RandomForestClassifier().fit(x_train, y_train)

In [119]:
models=[model_D, model_G, model_R]

In [124]:
for i in models:
    for j in range (len(models)):
        result_j= i
        y_predict_j = result_j.predict(x_test)
        accuracy = accuracy_score(y_predict_j, y_test)
    print(f'{i}_{accuracy}')

DecisionTreeClassifier()_0.9489313016797546
GradientBoostingClassifier()_0.9709293254979459
RandomForestClassifier()_0.9699152322013626

In [126]:
#Gradient Booster is Selected as it has higher accuracy compared to others

In [127]:
model = model_G
y_pedict=model.predict(x_test)